################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcmeBank-App/.vs/AcmeBank-App/FileContentIndex
/group2.vpp.bak_000f
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.AssemblyInfo.cs
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/refint
/AcmeBank-App/AcmeBank/obj/AcmeBank.csproj.nuget.dgspec.json
/AcmeBank-App/AcmeBank/obj/AcmeBank.csproj.nuget.g.props
/AcmeBank-App/AcmeBank/obj/project.assets.json
/AcmeBank-App/AcmeBank/obj/project.nuget.cache
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/ref/AcmeBank.dll
/AcmeBank-App/AcmeBank/bin/Debug/net8.0/AcmeBank.deps.json
/AcmeBank-App/AcmeBank/bin/Debug/net8.0/AcmeBank.dll
/AcmeBank-App/AcmeBank/bin/Debug/net8.0/AcmeBank.exe
/AcmeBank-App/AcmeBank/bin/Debug/net8.0/AcmeBank.pdb
/AcmeBank-App/AcmeBank/bin/Debug/net8.0/AcmeBank.runtimeconfig.json
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.AssemblyInfoInputs.cache
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.assets.cache
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.csproj.BuildWithSkipAnalyzers
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.csproj.CoreCompileInputs.cache
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.csproj.FileListAbsolute.txt
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.dll
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.genruntimeconfig.cache
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.pdb
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/AcmeBank.sourcelink.json
/AcmeBank-App/AcmeBank/obj/Debug/net8.0/apphost.exe
/AcmeBank-App/.vs/AcmeBank-App/DesignTimeBuild/.dtbcache.v2
/AcmeBank-App/.vs/AcmeBank-App/v17/.suo
/AcmeBank-App/.vs/AcmeBank-App/v17/DocumentLayout.json
