################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcmeBank-App/.vs/AcmeBank-App/FileContentIndex/1be09a0e-7f71-4f80-8462-e56e3cacfb75.vsidx
/AcmeBank-App/.vs/AcmeBank-App/FileContentIndex/313a8192-f65b-49ac-8882-ba3a674f9ff9.vsidx
/AcmeBank-App/.vs/AcmeBank-App/FileContentIndex/d2f8da1f-3fec-4fa4-8e5c-336216ff7c2e.vsidx
